.button {
    box-sizing: border-box;
    height: 40px;
    width: 250px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    outline: none;
    border-radius: 8px;
    background-color: #F0FAFB;
    position: absolute;
    top:125px;
    right:50px;
    cursor: pointer;
}

.item {
    height: 50px;
    width: 950px;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 24px;
    margin-left: 10px;
}

.item2 {
    height: 50px;
    width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 24px;
    margin-left: 10px;
}


.item3 {
    height: 60px;
    width: 1000px;
    background-color: #F0FAFB;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 24px;
    margin-left: 10px;
}

.item4 {
    height: 60px;
    width: 1300px;
    background-color: #F0FAFB;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 24px;
    margin-left: 10px;
}

.text {
    height: 24px;
    width: 250px;
    position: absolute;
    left: 25px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}


.text2 {
    height: 24px;
    width: 100px;
    position: absolute;
    left: 300px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text3 {
    height: 24px;
    width: 150px;
    position: absolute;
    left: 475px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text4 {
    height: 24px;
    width: 150px;
    position: absolute;
    left: 700px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text5 {
    height: 24px;
    width: 250px;
    position: absolute;
    left: 25px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}


.text6 {
    height: 24px;
    width: 100px;
    position: absolute;
    left: 400px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text7 {
    height: 24px;
    width: 150px;
    position: absolute;
    left: 675px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text8 {
    height: 24px;
    width: 150px;
    position: absolute;
    left: 1000px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.label {
    height: 24px;
    width: 400px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    display: inline-block;
    margin: 24px 24px;
}

.input {
    height: 32px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    box-shadow: 0 0 16px rgba(192, 192, 192, 0.15);
    display: flex;
    margin-left: 24px;
}

