.button {
    box-sizing: border-box;
    height: 40px;
    width: 250px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    outline: none;
    border-radius: 8px;
    background-color: #7ccdfc;
    position: absolute;
    top:125px;
    right:50px;
    cursor: pointer;
}

.item {
    height: 50px;
    width: 950px;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 24px;
    margin-left: 10px;
}

.item2 {
    height: 50px;
    width: 1200px;
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 24px;
    margin-left: 10px;
}


.item3 {
    height: 60px;
    width: 1000px;
    background-color: #7ccdfc;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 24px;
    margin-left: 10px;
}

.item4 {
    height: 60px;
    width: 1300px;
    background-color: #7ccdfc;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
    display: flex;
    margin-top: 24px;
    margin-left: 10px;
}

.text {
    height: 24px;
    width: 250px;
    position: absolute;
    left: 25px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}


.text2 {
    height: 24px;
    width: 205px;
    position: absolute;
    left: 275px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text3 {
    height: 24px;
    width: 185px;
    position: absolute;
    left: 525px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text4 {
    height: 24px;
    width: 150px;
    position: absolute;
    left: 750px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text5 {
    height: 24px;
    width: 250px;
    position: absolute;
    left: 25px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text6 {
    height: 24px;
    width: 160px;
    position: absolute;
    left: 350px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text7 {
    height: 24px;
    width: 150px;
    position: absolute;
    left: 675px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text8 {
    height: 24px;
    width: 150px;
    position: absolute;
    left: 1000px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.label {
    height: 24px;
    width: 250px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    display: inline-block;
    margin: 20px 72px;
}

.label2 {
    height: 24px;
    width: 205px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    display: inline-block;
    margin: 20px 72px;
}

.label3 {
    height: 24px;
    width: 250px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    display: inline-block;
    margin: 40px 72px;
}

.input {
    height: 32px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    box-shadow: 0 0 16px rgba(192, 192, 192, 0.15);
    display: flex;
    margin-left: 72px;
}

.input2 {
    height: 32px;
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 4px;
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    box-shadow: 0 0 16px rgba(192, 192, 192, 0.15);
    display: flex;
    margin-left: 72px;
    margin-right: 90px;
}

.heading {
    height: 24px;
    width: 400px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    margin-left: 152px;
}

.button2 {
    height: 40px;
    width: 150px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    margin-left: 152px;
    margin-top: 32px;
    cursor: pointer;
}

.button3 {
    height: 40px;
    width: 150px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    margin-left: 152px;
    margin-top: 32px;
    cursor: pointer;
}

.droplabel {
    height: 24px;
    width: 205px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 24px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    position: absolute;
    top: 85px;
    left: 400px;
}

.radio {
    margin-left: 72px;
    margin-bottom: 24px;
}

.radiolabel {
    font-size: 20px;
    margin-right: 80px;
}

.text9 {
    height: 24px;
    width: 250px;
    position: absolute;
    left: 25px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}


.text10 {
    height: 24px;
    width: 205px;
    position: absolute;
    left: 350px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}

.text11 {
    height: 24px;
    width: 185px;
    position: absolute;
    left: 625px;
    color: rgb(0, 0, 0);
    font-family: 'Gilroy';
    font-size: 20px;
    letter-spacing: 0;
    line-height: 28px;
    border-radius: 4px;
    padding: 12px 24px;
}